<div class="card" >
    <div class="card-body">
        <div class="card-header">
            <h4>API 1: Buscar Por Nombre</h4>
        </div>
         <form  class="input-group mb-3" >
            <input type="text"  class="form-control"  placeholder="Estado"  [(ngModel)]="estado" name="estado" #name="ngModel"  (keyup.enter)="onSubmit()">
           <div class="input-group-append">
            <button type="submit" class="btn btn-outline-dark"  (click)="onSubmit()" >Buscar</button>
           </div>
        </form> 
    </div>

    <div class="container" style="width: 70%; text-align: center;" *ngIf="this.band">
        <div class="card mt-2 ml-5 mr-5 mb-5 tabla"  >
            <div class="card-header">
                {{dataEstado.nom_agee}}
            </div>
            <ul class="list-group list-group-flush" style="color:black; text-align: left;">
              <li class="list-group-item"> Clave estatal: {{dataEstado.cve_agee}}</li>
              <li class="list-group-item"> Nombre abreviado: {{dataEstado.nom_abrev}}</li>
              <li class="list-group-item"> Población total: {{dataEstado.pob}}</li>
              <li class="list-group-item"> Población femenina: {{dataEstado.pob_fem}}</li>
              <li class="list-group-item"> Población masculina: {{dataEstado.pob_mas}}</li>
              <li class="list-group-item"> Total de viviendas habitadas{{dataEstado.viv}}</li>
            </ul>
          </div>
    </div>
    

  </div>
