<div class="card" style="width: 100%">
    <div class="card-body">
        <div class="card-header">
            <h4>API 2: Buscar Por Clave</h4>
        </div>
         <form class="input-group mb-3" >
            <input type="text" class="form-control" placeholder="01"  [(ngModel)]="id"  name="id" (keyup.enter)="get()">
            <div class="input-group-append">
            <button type="button" class="btn btn-outline-dark" (click)="get()" >Buscar</button>
            </div>
        </form> 
    </div>

    <ng-container  *ngIf="municipios.length!=0">
      <h2>{{this.estado}}</h2>
        <table class="table" style="width: auto; height: auto;"> 
            <thead class="thead-dark">
              <tr>
                <th scope="col">Municipio</th>
                <th scope="col">Poblacion</th>
                <th scope="col">Poblacion <br> Femenina</th>
                <th scope="col">Poblacion <br>  Masculina</th>
                <th scope="col">Viviendas  <br> Habitadas</th>
              </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of municipios" >
              <tr >
                <th scope="row">{{item.nom_agem}}</th>
                <td>{{item.pob}}</td>
                <td>{{item.pob_fem}}</td>
                <td>{{item.pob_mas}}</td>
                <td>{{item.viv}}</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
      </ng-container>
    

  </div>